@import '.../../../../../assets/styles/abstracts/variables/colors';

.item {
    flex-basis: 25%;

    height: 100%;

    text-align: center;

    &:hover {
        background-color: $color-white;
    }
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    color: $color-white;

    &:hover {
        background-color: $color-hover-link-nav;

        color: $color-hover;

        cursor: pointer;
    }
}