$color-background: #2C303A;

$color-white: #FFFFFF;

$color-black: #000000;

$color-hover-link: #c0c0c0;

$color-hover-link-card: #eeeeee;

$color-hover: #474747;

$color-background-black: #1E1F26;

$color-green: #47CF73;

$color-yellow: #FFDD40;

$color-red: #FF3333;

$color-blue: #15BAFE;

$color-grey: #4C4F5A;