$minimum-screen-size: 300px; // 300px; // application min size
$phone-screen-size: 600px; // 600px; // phone max screen size
$tablet-screen-size: 1025px; // 1025px; // tablet max screen size
$pc-screen-size: 1925px; // 1925px; // pc max screen size